* {
  box-sizing: border-box;
  border: 1px solid red;
}

body {
  display: flex;
  flex-direction: column;
}

header, section, footer {
  display: flex;
  padding: 1em;
}

header {
  justify-content: space-between;
}
.portfolio {
  justify-content: space-around;
}

h3, .blurb {
  text-align: center;
}

.logo, .name, .featured {
  padding: 0 1em;
  margin: 0 2em;
}

.jumbo {
  margin: 0 auto;
  width: 100%;
}

.name {
  text-align: right;
}
.featured {
  align-content: space-around;
}

.gradient-left {
  border: 0;
  height: 0.25em;
  background-image: -webkit-linear-gradient(left, #ffffff, lavender 10%, #ffffff 90%);
  background-image: -moz-linear-gradient(left, #ffffff, lavender 10%, #ffffff 90%);
  background-image: -ms-linear-gradient(left, #ffffff, lavender 10%, #ffffff 90%);
  background-image: -o-linear-gradient(left, #ffffff, lavender 10%, #ffffff 90%);
}

.gradient-right {
  border: 0;
  height: 0.25em;
  background-image: -webkit-linear-gradient(right, #ffffff, lavender 10%, #ffffff 90%);
  background-image: -moz-linear-gradient(right, #ffffff, lavender 10%, #ffffff 90%);
  background-image: -ms-linear-gradient(right, #ffffff, lavender 10%, #ffffff 90%);
  background-image: -o-linear-gradient(right, #ffffff, lavender 10%, #ffffff 90%);
}
