
/*  TODO LIST
TODO: cleanup - Replace all colours with 3-place hexadecimals (31)
TODO: cleanup - Get rid of all unwanted things (32)
*/


/*  BASICS
 * default stylings: headings, links, fonts, body backgrounds...
 */

* {
  box-sizing: border-box;
  /*border: 1px solid red;*/
}

html, body {
  background-color: #FFF;
  /*background-color: papayawhip;*/
  /*color: rosybrown; or darkSalmon*/
  width: 100%;
  /*font-size: 1em;*/
  font-family: 'Laila', serif;
  /*font-family: 'Gabriela', serif;*/
  /*font-family: 'Imprima', sans-serif;*/
  /*font-family: 'Heebo', sans-serif;*/
  /*font-family: 'Hind Guntur', sans-serif;*/
  /*font-family: 'Hind Madurai', sans-serif;*/
  /*font-family: 'Maitree', serif;*/
  /*font-family: 'Proza Libre', sans-serif;*/
  /*font-family: 'Rubik', sans-serif;*/
  /*font-family: 'Catamaran', sans-serif;*/
  /*font-family: 'Martel Sans', sans-serif;*/
  /*font-family: 'Fauna One', serif;*/
  /*font-family: 'Noto Serif', serif;*/
  /*font-family: 'Noto Sans', sans-serif;*/
  /*font-family: 'Gafata', sans-serif;*/
  /*font-family: 'Gilda Display', serif;*/
  /*font-family: 'Rambla', sans-serif;*/
  /*font-family: 'Average Sans', sans-serif;*/
  /*font-family: 'Kite One', sans-serif;*/
  /*font-family: 'Carrois Gothic', sans-serif;*/
  /*font-family: 'Fenix', serif;*/
  /*font-family: 'Jacques Francois', serif;*/
  /*font-family: 'Marcellus', serif;*/
  /*font-family: 'Quattrocento', serif;*/
  /*font-family: 'Dosis', sans-serif;*/
  /*font-family: 'Pontano Sans', sans-serif;*/
  /*font-family: 'Montaga', serif;*/
  /*font-family: 'Ruluko', sans-serif;*/
  /*font-family: 'Asul', sans-serif;*/
  /*font-family: 'Buenard', serif;*/
  /*font-family: 'Cambo', serif;*/
  /*font-family: 'Fresca', sans-serif;*/
  /*font-family: 'Galdeano', sans-serif;*/
  /*font-family: 'Antic', sans-serif;*/
  /*font-family: 'Sorts Mill Goudy', serif;*/
  /*font-family: 'Fanwood Text', serif;*/
  /*font-family: 'Philosopher', sans-serif;*/
  /*font-family: 'Prociono', serif;*/
  /*font-family: 'Andika', sans-serif;*/
  /*font-family: 'Actor', sans-serif;*/
  /*font-family: 'Ovo', serif;*/
  /*font-family: 'Snippet', sans-serif;*/
  /*font-family: 'Istok Web', sans-serif;*/
  /*font-family: 'Amaranth', sans-serif;*/
  /*font-family: 'Judson', serif;*/
  /*font-family: 'Open Sans', sans-serif;*/
  /*font-family: 'Lato', sans-serif;*/
  /*font-family: 'Ubuntu', sans-serif;*/
  /*font-family: 'Molengo', sans-serif;*/
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'El Messiri', sans-serif;
}


/*  LAYOUT
 * major layout stylings
 * - traditionally using ID selectors
 * - generally only a single selector
 */

#body {
  padding-top: 1em;
  margin-top: 125px;

  /*padding: 0.25em;*/
  /*margin-top: 125px;*/
  /*width: 100%;*/
  /*width: 75%;*/
  /*border: 1px solid blue;*/
}


#header, #about, #portfolio, #footer {
  /*width: 100%;*/
  /*border: 1px solid green;*/
  /*padding: 0 0.25em;*/
  /*background-color: papayawhip;*/
}

#header {
  position: fixed;
  top: 0;
  /*bottom: 0;*/
  left: 0;
  right: 0;
  z-index: 999;
  background-color: #FFF;
  max-height: 125px;
  /*background-color: papayawhip;*/
  /*background-color: floralwhite;*/
  /*background-color: oldlace;*/
  /*background-color: snow;*/
  /*background-color: white;*/
}

#about, #portfolio {
  width: 75%;
  margin: 0 auto;
}

#about, #portfolio, #footer {
  /*padding: 1em 0;*/
}

/*  Portfolio header is a flex item!  */
.section-heading {
  /*border: 1px solid red;*/
  /*margin-top: 1em;*/
  /*padding: 0 0.25em;*/
  flex-basis: 100%;
  text-align: center;
  /*width: 100%;*/
}

/*  MODULES
 * design to exist as standalone components
 * use primarily class selectors (think semantics!)
 */

.header {
  border-bottom: 1px solid lavender;
  box-shadow: 0 0.1em 5px -2px #9A4827;
  display: flex;
  justify-content: space-around;
  /*align-items: baseline;*/

}

.header-logo, .header-title {
  /*border: 1px solid blue;*/
  /*flex: 1 1 50%;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-logo {
  /*flex: 1 3 50%;*/
}

.header-title {
  /*flex: 5 1 50%;*/
  /*text-align: right;*/
  /*width: 100%;*/
  /*padding-right: 0.5em;*/
}

.logo {
  /*max-width: 100%;*/
  max-height: 125px;
  /* max-height and margin combine to maintain aspect ratio! */
  /*max-height: 100%;*/
  /*max-height: calc(100% - 10px);*/
  /*margin: 0 auto;*/
  border-radius: 10px;
  /*border: 1px solid green;*/
  padding: 0.5em;
  /*margin: 0.25em;*/
}

.title {
  /*border: 1px solid green;*/
  /*margin: 0;*/
  margin: 0 10px 0 0;
  /*padding-right: 10px;*/
  /*padding: 5px 0 0 10px;*/
  /*text-align: center;*/
  /*width: 100%;*/
}

.first-name {
  /*border: 1px solid red;*/
  padding-left: 0.25em;
  text-align: left;
  display: block;
  line-height: 1em;
}
.last-name {
  /*border: 1px solid red;*/
  text-align: right;
  line-height: 1em;
  display: block;
}

.title-desc {
  /*text-align: center;*/
  margin-top: 0.5em;
  color: #9A4827;
}

/*
 *  About
 */


.me {
  /*border-bottom: 1px solid lavender;*/
  /*border: 1px solid orange;*/
}

.me-words-para {
  /*border: 1px solid purple;*/
  /*margin: 0 1em;*/
  padding: 0 0.5em 0.5em;
  text-indent: 2em;
  /*margin-bottom: 0;*/
  /*margin-top: 0;*/
  text-align: justify;

}

.list-item {
  /*list-style-type: none;*/
  /*text-indent: -14px;*/
}

.list-item::before {
  /*content: "\02713   ";*/
}


/*
 * Portfolio
 */


.portfolio {
 display: flex;
 flex-flow: row wrap;
 /*justify-content: flex-start;*/
 /*border: 1px solid red;*/
}

.portfolio > .section-heading {
  /*margin-top: 0;*/
}

/*
box-shadow: horizontal-offset(required) vertical-offset(required)
            blur-radius(required) spread-radius(optional) color(required);
neg numbers okay, sharp blur = 0, negs ok for spread
*/

.project {
  text-align: center;
  margin: 1em auto;
   /*padding: 0.25em;*/
  border: 1px solid lavender;
  border-radius: 10px;
  box-shadow: 0.1em 0.15em 5px -2px #9A4827;
  /*flex: 1 1 50%;*/
  max-width: 450px;
  cursor: pointer;
}

.project-img {
  max-width: 100%;
  border-radius: 10px;
  border: 1px solid lavender;
  /*height: 170px;*/
}

.project:hover {
  /*border: 1px solid #9A4827;*/
  box-shadow: 0.1em 0.15em 5px 2px #9A4827;
}

/*
 * Footer
 */

.footer {
  border-top: 1px solid lavender;
  padding: 1em;
  margin: 1em auto 0;
  display: flex;
  justify-content: space-around;
}

.soc-btn {
  min-width: 48px;
  min-height: 48px;
  /*border: 1px solid green;*/
  text-align: center;
}

.icon {
  width: 30px;
  height: 30px;
  stroke-width: 1%;
  /*stroke: #9A4827;*/
  /*stroke: #4B4B4B;*/
  stroke: #000000;
  /*fill: #000000;*/
  fill: #9A4827;
  fill-opacity: 0.95;
  /*border: 1px solid purple;*/
  transform: perspective(1px) translateY(25%);
}

.icon:hover {
  cursor: pointer;
}

