//***************************************************************
 // * SCSS VARIABLES
 // *************************************************************

// colour palette ***************
$darkest: #000100;
// $lightest: #ece2d0;
$lightest: #f1e9dc;
// $lightest: #FFF;

$primary: #23b5d3;
$sub-bright-light: #8ebac8;
$sub-muted-dark: #d3a588;

// coloured items  *****************
$link-text: $primary;
$page-outline: $sub-bright-light;
$project-outline: $sub-bright-light;
$img-outline: $lightest;
$shadow: $sub-muted-dark;


// textures  ***********************
$body-texture: "./../img/transparent textures/skulls.png";
$hero-texture: "./../img/transparent textures/egg-shell.png";

// misc ***************************
$header-height: 0;
$radius: 10px;

/***********************************************************
 * BASICS
 * default stylings: headings, links, fonts, body backgrounds...
 ************************************************************/
* {
	box-sizing: border-box;
  // border: 1px solid silver;
}

html, body {
  width: 100%;
  height: 100%;
	font-family: 'Laila', serif;
}
/* fixed background on iOS mobiles */
.outer-body {
  width: 100%;
  height: 100%;
  // display: block;
  position: fixed;
  z-index: -99;
  // background-attachment: fixed !important;
  // background-size: 40% !important;
  // background-repeat: repeat repeat;
  background: $lightest url($body-texture);
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'El Messiri', sans-serif;
}

/**************************************************************
 * MODULES
 * stand-alone items
 **************************************************************/

.text-link, .text-link:hover, .btn {
	color: $link-text;
}

.btn:hover {
  color: $link-text;
  background-color: $lightest;
  text-decoration: underline;
}

/************************************************************
 *  LAYOUT
 * major layout stylings
 ************************************************************/


/* HEADER *************************************************/
// For fixed & squishy header

// .header-top {
//   width: 100%;
//   height: $header-height;
//   position: fixed;
//   top: 0;
//   left: 0;
//   background: url($hero-texture);
//   .fixed & {
//     background: transparent;
//   }
// }



/* General *********************************************************/

/* flex container */
.body {
  width: 80%;
  margin: $header-height auto 0;
  padding: 2.5em 0 0;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;
  border-radius: $radius;
  // border: 5px solid $sub-bright-light;
}


/* ABOUT  *************************************************/


.about {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 1em 0 0;
  align-items: center;
  border-radius: $radius;
}

.header-logo {
  order: 2;
  margin: 1em 0;
}

.logo {
  max-width: 80%;
  display: block;
  margin: 1em auto 0;
  border-radius: 10px;
}

.header-title {
  flex-basis: 100%;
  order: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: $lightest;
  border-radius: $radius;
}

.title {
  margin: 0;
  text-align: center;
}

.name {
  font-size: 3em;
}

.desc {
  font-size: 1.25em;
  font-variant: small-caps;
  color: $link-text;
}

.about-para-div {
  flex: 1 1 100%;
  order: 3;
  border-radius: 10px;
}

.about-para {
  padding: 1em;
  text-indent: 1em;
  text-align: justify;
  background: $lightest;
  border-radius: $radius;
  max-width: 375px;
  margin: 1em auto;
}

/* PORTFOLIO  ***********************************************/

.portfolio {
  padding: 1em 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.section-heading {
  padding: 0 0.25em;
  flex-basis: 100%;
  text-align: center;
}

.project {
  text-align: center;
  margin: 1em 0;
  border: 1px solid $project-outline;
  border-radius: 10px;
  box-shadow: 0.1em 0.15em 5px -2px $shadow;
  cursor: pointer;
  background-color: $lightest;
}

.project-img {
  max-width: 100%;
  border-radius: 10px;
  border: 1px solid $project-outline;
  margin: 0 auto;
}

.project:hover {
  box-shadow: 0.1em 0.15em 5px 2px $shadow;
}

/* MODAL  modifications ****************************************/

.figcaption {
  font-size: 0.75em;
  text-align: right;
  padding: 0.25em;
  font-style: italic;
}

.modal-title {
  font-size: larger;
  border-radius: $radius;
}

.modal-header, .modal-footer {
  background: url($body-texture);
}

/* FOOTER  **************************************************/

.footer {
  background: $lightest;
  padding: 1em 0;
  border-radius: $radius;
}

.soc-btn-group {
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.soc-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 48px;
  min-height: 48px;
}

.icon {
  width: 30px;
  height: 30px;
  stroke-width: 2%;
  stroke: #4B4B4B;
  fill: #9a4827;
}

.icon:hover {
  cursor: pointer;
}

/* MEDIA QUERIES  ********************************************/

@media screen and (min-width: 600px) {
  .portfolio {
    justify-content: space-between;
  }
  .project {
    margin: 1em;
    max-width: calc(50% - 2em);
  }
  .soc-btn-group {
    max-width: 400px;
  }
}

@media screen and (min-width: 900px) {
  .about {
    justify-content: center;
  }
  .header-title {
    margin: 0 0 2em;
  }
  .header-logo, .about-para-div {
    flex: 1 1 30%;
  }
  .logo {
    max-width: 55%;
    max-height: 170px;
  }
}

@media screen and (min-width: 1250px) {
  .project {
    margin: 2em;
    max-width: calc(33.33% - 4em);
  }
}
